form {
  min-width: 100% !important;
}

.form-ar .col {
  direction: rtl !important;
}

.form-ar .form-control {
  direction: rtl;
}

::-webkit-calendar-picker-indicator {
  margin-right: 5px;
  color: var(--input-color) !important;
}

form button {
  padding: 5px !important;
  margin-bottom: 10px !important;
  margin: 0;
}



.input-group-text,
.form-control {
  background-color: inherit !important;
  color: var(--black) !important;
  padding-left: 7px !important;
  outline: 0 !important;
  font-size: 16px !important;
  box-shadow: none !important;
  border: 0 !important;
}

.input-group-text {
  color: var(--input-color) !important;
}

.form-control:focus,
textarea.form-control:focus {
  outline: 0 !important;
  background-color: inherit !important;
  box-shadow: none !important;
  border: 0 !important;
  /* border-radius: var(--border-radius) !important; */
  background-color: var(--white) !important;
  padding: 5px;
  resize: none !important;
}

textarea.form-control:focus {
  border: 1px solid var(--gray) !important;
}

.input-group,
textarea.form-control {
  border-radius: 0 !important;

  background-color: var(--white) !important;
  padding: 5px;
  border: 1px solid var(--gray) !important;
  resize: none !important;
}

label {
  text-align: left !important;
  width: 100% !important;
  text-transform: capitalize;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

.rsw-editor {
  border-color: var(--gray) !important;
}

.form-control:-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::placeholder {
  background-color: transparent !important;

  color: #000 !important;
  text-transform: capitalize;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  color: var(--input-color) !important;
  background-color: inherit !important;
}

input:-internal-autofill-selected,
input:-moz-autofill {
  background-color: inherit !important;
  color: var(--input-color) !important;
}




.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none !important;
}

.button,
input,
optgroup,
select,
textarea {
  font-family: var(--font-family) !important
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-color: inherit !important;
  -webkit-box-shadow: none !important;
}


.form-ar .invalid-feedback {
  text-align: right !important;
}

.invalid-feedback {
  display: block !important;
  margin-top: 0 !important;
  text-align: left;
  margin-bottom: 10px !important;
  font-size: 14px !important;
}



#inputGroup-sizing-sm {
  display: none !important;
}