.to-left {
  animation: translateXAnimationLeft 0.5s ease-in-out infinite alternate;
}

.to-right {
  animation: translateXAnimationRight 0.5s ease-in-out infinite alternate;
}

.stack-buttons button {
  margin: 10px 2px;
}

@keyframes translateXAnimationLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes translateXAnimationRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
    opacity: 0;
  }
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray);
  border-radius: 8px;
  width: 100%;
  min-height: 60px;
  margin-bottom: 10px;
  padding: 2px 8px;
  cursor: pointer;
  background-color: var(--white);
  transition: all 0s ease-in-out 0;
  opacity: 1;
  position: relative;
}

.list-item.selected {
  border: 3px solid var(--green);
}

.woman-img {
  margin: 0 auto;
  height: 400px;
  width: 100%;
}