header {
  position: relative;
  top: 0;
  left: -11.5px;
  width: 300px !important;
  height: 80px;
  background-color: var(--dark-red);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: var(--white);
  margin-bottom: 25px;
}