.answer-container {
  /* border: 2px solid var(--gray); */
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 15px;
}

.answer-container textarea {
  border: 1px solid var(--gray);
  outline: none;
  resize: none;
  height: 150px;
  width: 100%;
  padding: 10px;
}
.matching-container {
  padding-bottom: 15px;
}

.pairs-list,
.matching-pairs {
  border-bottom: 1px solid var(--gray);
  padding-bottom: 15px;
}

.left-pair,
.right-pair {
  margin: 10px 0;
  padding: 10px;
  border-radius: var(--border-radius);
}

.left-pair {
  border: 1px solid var(--light-blue);
  background-color: var(--light-blue);
}

.right-pair {
  border: 1px solid var(--gray);
}





.matching-pairs>* {
  border-collapse: collapse;
}