@import 'bootstrap/dist/css/bootstrap.min.css';
@import url("./assets/css-helpers/variables.css");

body {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  overflow-x: hidden;
}

ul {
  padding: 0 !important;
  list-style-type: none;
  width: 100%;
}